
*{  padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.word-container {
    font-weight: bold;
    text-align: center;
    height: 50px; /* Set the height to ensure space for the words */    
}

/* Slide-in and slide-out animation */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-100%); /* Start from off-screen on the left */
    }
    10% {
        opacity:1 ;
        transform: translateX(0); /* Slide to the center */
    }
    90% {
        opacity: 1;
        transform: translateX(0); /* Stay at the center */
    }
    100% {
        opacity: 0;
        transform: translateX(100%); /* Slide out to the right */
    }
}

#word {
    display: inline-block;
    animation: slide 5s ease-in-out infinite; /* Infinite loop for the words */
}
.background-container {
    background: url('pexels-divinetechygirl-1181320.jpg') no-repeat center/cover;
    width: 100%;
    height: 30%;
    overflow: hidden;
}
/* tile bar css */ 
  #navcontainer ul {
    width: 100%;
    background-color: rgb(97, 158, 250);
    color: whitesmoke;
    font-family: Poppins;
} 
#navcontainer  ul li{
    list-style: none;
    padding-left: 20px;
}
nav ul li a{
    text-decoration:none ;
    color: rgb(255, 255, 255);
}
#mainnav ul {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
#mainnav ul li a img{
    width: 30px;
    height: 20px;
}
#mainnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
/* second nav bar css */
#second-nav {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    /* background:rgb(24 121 180 / 84%); */
    padding: 10px 20px; 
    max-height: 80PX;
    font-size: 15px;
    font-family: "Rowdies", sans-serif;
    font-weight: bold;
}  
.nav-list {  
    display: flex;
    justify-content: center;
    align-items: center;  
    list-style: none;  
    display: flex;  
    gap: 20px;  

}
.nav-list li a {  
    color: white;  
    text-decoration: none; 
}  

.nav-list li a:hover{
    transition: all 0.3s ease-in;
    color: rgb(0, 170, 222);
}

.company-name{
    padding-top: 20px;
    margin-right: 100px;
}
#main-sec-div{
    filter: hue-rotate(210deg) brightness(10); /* Apply bluish tint */  
}
/* section */
#sec-div{
    font-family:  sans-serif;
    font-weight: bolder;
    color: rgb(255, 30, 146);
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    /* background:rgba(62, 76, 84, 0.84); */
}
#sec-div-1{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
#sec-div-2{
    margin: 20px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;       
}
input[type="search"] {
    margin: 10px; 
    padding: 10px; 
    border-radius: 5px; 
    color: black;
  }

  .imgdiv{
    margin-top:40px ;
    height: 200px;
    display: flex;
    flex-direction: row;
 }
  #first-img{
    margin-top:1px ;
    padding-top:2px ;
  }
  #second-img{
    margin-top:0px ;
  }
   .custom-grid:hover{
    box-shadow: 2px 2px 20px snow;
  }
.btn{
    margin-top: 15px;
    height:30px;
    width: 100px;
    background-color: #2e1b1b;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 20px burlywood;
}
.btn:hover{
    background-color: red;
}
.footer-row-1, .footer-row-2, .footer-row-3 {
    background-color: #2196F3;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 12px;
    box-shadow:5px 5px 20px #2e1b1b;
}
.content-row-img{
    width: 60px;
    height: 60px;
    margin-left: 250px;
    margin-top: -80PX;
    padding: 3px;
}
.content-row-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#3275DB;
    color: white;
    width: 100%;
    height: 90px;
    border-radius: 12px;  
}
.content-row-inindiv{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 5px;
    border-bottom: 1px solid rgb(222, 214, 214);
}
.content{
    color: black;
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}
.setting{
    margin-left: 100px ;
    margin-bottom: 20px;
}
.parasetting{
    margin: 5px;
    margin-right:20px;
}