*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
:root{
    --bg-color:#1f242d;
    --second-bg-bolor:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    font-size: 140%;
    overflow-x: hidden;
}
body{
    background-color: var(--second-bg-bolor);
    color: var(--text-color);
    font-family: "Baloo Bhai 2", sans-serif;
    display: flex;
    flex-direction: column;
}
section{
    margin-top: -100px;
    min-height: 100vh;
    padding: 7rem 9% 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header{
    background-color: var(--bg-color);
    position: sticky;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 40%;
    padding: 15px;
}
.logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    font-family: "Candal", sans-serif;
    padding-left: 50px;
}
.navbar a{
    text-decoration: none;
    color: var(--text-color);
    margin-left: 1.2rem;
    margin-right: 2.5rem;
    font-size: 0.8rem;
    transition: 1s;
    font-family: "Baloo Bhai 2", sans-serif;
    font-weight: 1000;
    border-bottom: 2px solid white;
}
.navbar a:hover ,
.navbar a.active{
    color: var(--main-color);  
    border-bottom: 2px solid var(--main-color);
}
.about-img{
    /* margin-right: 7rem;
    margin-left: 3.3rem; */
    margin: 2rem 7rem 0 3.3rem;
    border-radius: 30%;
    box-shadow: inset 4px 4px 30px var(--main-color);
    padding: 0 0 3rem 2rem;
    width: 24rem;

}
.about-sec{
    display: flex;
    flex-direction: column;
}
.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

span{
    color: var(--main-color);
}
.btn{
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    padding-left: .8rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background-color: var(--main-color);
    box-shadow:2px 2px 20px var(--main-color) ;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    box-shadow: none;
}
.heading{
    text-align: center;
    font-size: 3rem;
}
.about-content{
    margin-top: 2rem;
    margin-right: 5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2rem;
}
.about-content h3 {
    line-height: 3.5rem;
}
.about-content p {
    line-height: 1.2rem;
   margin-right: 2rem;
   font-family: "Baloo Bhai 2", sans-serif;
} 
.video{
    margin-top: 10rem;
    width:60rem;
    height: 500px;
    box-shadow: 5px 5px 50px var(--main-color);
    cursor: pointer;
    border-radius: 50px;
}

/* Styles for standard laptops (e.g., MacBook Air, Dell XPS 13) */
@media only screen and (min-width: 1100px) and (max-width: 1199px) {
    .about{
        display: flex;
        flex-direction: column;
    }
    .about-content{
        margin-top: 5rem;
        margin-right:-1rem;
    }
 
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {

    .about-content{
        margin-top: 5rem;
        margin-right:-5rem;
        margin-left: 1rem;
    }

   
}
      
  /* Styles for smaller laptops (e.g., older MacBook Air, netbooks) */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .about{
        display: flex;
        flex-direction: column;
    }
    .about-content{
        margin-top: 5rem;
        margin-left:5rem;
    }
    .navbar a{
        text-decoration: none;
        color: var(--text-color);
        margin-left: 1rem;
        margin-right: 1.1rem;
        font-size: 0.6rem;
        transition: 1s;
        font-family: "Baloo Bhai 2", sans-serif;
        font-weight: 1000;
    }


}
